@font-face {
  font-family: "Cicle";
  src: url('Cicle Fina.ttf');
}

@font-face {
  font-family: "Dyno";
  src: url('Dyno Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cicle", Verdana, Helvetica !important;
  background-image: url(../img/noise.png);
  background-color: #232323;
}

#container {
  width: 1220px;
  height: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0 auto;
  background-image: url(../img/bg.png);
  background-color: #e4e3de;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#header {
  background: url("../img/header.jpg");
  background-position-y: -332px;
  /*background: rgb(234,92,13);
    background: -moz-linear-gradient(top, rgb(234,92,13) 0%, rgb(185,69,3) 100%);
    background: -webkit-linear-gradient(top, rgb(234,92,13) 0%,rgb(185,69,3) 100%);
    background: linear-gradient(to bottom, rgb(234,92,13) 0%,rgb(185,69,3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5c0d', endColorstr='#b94503',GradientType=0 );*/
  height: 220px;
  width: 100%;
}

#logo {
  height: 120px;
  margin: 0 auto;
  text-align: center;
  line-height: 5;
  font-weight: bold;
  color: white;
  font-size: 45px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px #474747;
}

#slug {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px black;
    color: white;
}

#search {
  position: relative;
  top: 10px;
  left: 10px;
  float: left;
}

#searchbar {
  border: 1px solid black;
  border-radius: 13px;
  padding: 6px;
  width: 165px;
}

#language {
  position: relative;
  float: right;
  height: 40px;
  top: 10px;
  width: 65px;
  padding-right: 10px;
  padding-left: 104px;
}

#navbar {
  font-family: "Dyno";
  background: rgb(68, 68, 68);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#333333', GradientType=0);
  /* IE6-9 */
  height: 50px;
  color: #fff;
  line-height: 2.1;
  position: relative;
}

#navbar ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

#navbar ul li {
  transition: background 0.5s;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  padding: 5px;
}

#navbar ul li:hover {
	transition: background 0s;
  background: rgb(102, 102, 102);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgb(102, 102, 102) 0%, rgb(84, 84, 84) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(102, 102, 102) 0%, rgb(84, 84, 84) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(102, 102, 102) 0%, rgb(84, 84, 84) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#545454', GradientType=0);
  /* IE6-9 */
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
}

.dropdown-content {
    display: none;
    margin: 5px 0px 0px -5px;
    position: absolute;
    background-color: #3b3b3b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #272727;}

.rubrique-drop:hover .dropdown-content {
  display: block;
}

.left {
  float: left;
  width: 890px;
  margin-left: 5px;
}

.right {
  float: right;
  width: 320px;
  margin-right: 5px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
  /* Précaution pour IE 7 */
}

.box_right {
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  color: black;
  border: 4px solid white;
  box-shadow: 2px 2px 1px #adadad;
  border-radius: 5px;
  margin-top: 5px;
}

.box_left {
  width: 870px;
  margin-left: 5px;
  background-color: white;
  color: rgba(77, 77, 77, 1);
  border: 4px solid white;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 2px 2px 1px #adadad;
}

.box_title {

  width: 100%;
  height: 30px;
  background: rgb(183, 91, 42);
  background: -moz-linear-gradient(top, rgb(183, 91, 42) 0%, rgb(185, 69, 3) 100%);
  background: -webkit-linear-gradient(top, rgb(183, 91, 42) 0%, rgb(185, 69, 3) 100%);
  background: linear-gradient(to bottom, rgb(183, 91, 42) 0%, rgb(185, 69, 3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b75b2a', endColorstr='#b94503', GradientType=0);
  border-bottom: 3px solid rgb(159, 70, 22);
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  font-weight: bold;

}

.black {
  background: rgb(66,66,66); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(66,66,66) 0%, rgb(51,51,51) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(66,66,66) 0%,rgb(51,51,51) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(66,66,66) 0%,rgb(51,51,51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-bottom: 3px solid rgb(38, 38, 38);
}

.box_left p {
  font-size: 18px;
  text-align: justify;
  font-family: "Dyno";
  padding-right: 5px;
}

.box_left h2 {
  font-family: "Dyno";
  font-size: 20px;
  font-weight: bold;
}

p {
  padding-left: 5px;
  margin-top: 5px;
}

footer {
  margin-top: 15px;
  border-top: 2px solid white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-image: url(../img/noise.png);
  background-color: #333333;
  width: 100%;
  height: 80px;
}

footer img {
  height: 60px;
  padding: 10px 10px;
}

footer .legals{
	float: right;
    line-height: 5.5;
}

footer .legals a {
    font-family: "Dyno";
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

.button-survey {
  width: 68px;
  margin: 5px 0px 5px 0px;
  padding: 8px;
  background-color: white;
  color: black;
  border: none;
  border: 2px solid #424242;
  border-radius: 3px;
  font-family: "Dyno";
}

.button-survey:hover {
  transition-duration: 0.4s;
  border-color: #b84c0f;
  background-color: #b84c0f;
  border: 2px solid #772d04;
  color: white;
}

.menu_wrapper {
    height: auto;
    background-color: #585858;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 3px solid rgb(70, 70, 70);
}

.menu_wrapper .menu_page {
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
}

.menu_wrapper .menu_page li {
  display: inline-block;
  padding: 5px;
}

.menu_wrapper .menu_page li a {
  font-family: "Dyno";
  color: #fff;
  text-decoration: none;
}